@charset "UTF-8";

/* HTML id = CSS #
   HTML class = CSS .
   */


body{
    background-color: rgb(255, 0, 170);
    font: normal 16px Arial, verdana, serif;
}
h1{
    color: blue;
    text-align: center;
}

#principal{ /*seletor personalizado */
    background-color: blueviolet;
    color: brown;
}

.nivel01{
    background-color: rgb(85, 85, 189);
    color: rgb(63, 0, 134);
    font-weight: bold;
}

h2{
    color: rebeccapurple;
}

p{
text-align: justify;
text-indent: 30px; /* distancia do primeiro paragrafo */
}